USE [master]
GO
/****** Object:  Database [Online_shop]    Script Date: 17.02.2023 11:58:04 ******/
CREATE DATABASE [Online_shop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Online_shop', FILENAME = N'C:\Users\user\Online_shop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Online_shop_log', FILENAME = N'C:\Users\user\Online_shop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Online_shop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Online_shop]
GO
USE [Online_shop]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 17.02.2023 11:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id_cart] [int] NOT NULL,
	[Id_user] [int] NOT NULL,
	[Id_prod] [int] NOT NULL,
	[Prod_count] [int] NOT NULL,
	[Is_deleted] [bit] NOT NULL,
	[Cart_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_cart] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 17.02.2023 11:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id_category] [int] NOT NULL,
	[Name_category] [nvarchar](50) NULL,
	[Id_specification] [int] NOT NULL,
	[Is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 17.02.2023 11:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id_order] [int] NOT NULL,
	[Id_user] [int] NOT NULL,
	[Id_prod] [int] NOT NULL,
	[Id_status] [int] NOT NULL,
	[Order_date] [date] NOT NULL,
	[Prod_count] [int] NOT NULL,
	[Is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders_Status]    Script Date: 17.02.2023 11:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders_Status](
	[Id_status] [int] NOT NULL,
	[Orders_status] [nvarchar](40) NOT NULL,
	[Is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 17.02.2023 11:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id_prod] [int] NOT NULL,
	[Prod_count] [int] NOT NULL,
	[Price] [decimal](18, 10) NULL,
	[Prod_description] [nvarchar](100) NULL,
	[Id_category] [int] NOT NULL,
	[Is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_prod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spec_products]    Script Date: 17.02.2023 11:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spec_products](
	[Id_spec_product] [int] NOT NULL,
	[Id_prod] [int] NOT NULL,
	[Id_specification] [int] NOT NULL,
	[Spec_value] [int] NOT NULL,
	[Is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_spec_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specifications]    Script Date: 17.02.2023 11:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specifications](
	[Id_specification] [int] NOT NULL,
	[Name_spec] [nvarchar](50) NULL,
	[Spec_value] [int] NOT NULL,
	[Is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_specification] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17.02.2023 11:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id_user] [int] NOT NULL,
	[User_Login] [nvarchar](40) NOT NULL,
	[User_password] [nvarchar](40) NOT NULL,
	[Reg_date] [date] NOT NULL,
	[Is_deleted] [bit] NOT NULL,
	[Id_role] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_roles]    Script Date: 17.02.2023 11:58:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_roles](
	[Id_role] [int] NOT NULL,
	[Name_role] [nvarchar](40) NOT NULL,
	[Is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
